/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.right {
  height: 100%;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.message-status {
  display: none;
}

.ing {
  display: none;
}

.me {
  overflow: hidden; 
  margin: 0 auto; 
}

.me img {
  width: 100%; 
  transition: 0.5s all ease-out; 
}

.me:hover img {
  transform: scale(1.5) translate(-10%, 15%);
}

.custom-blue-text {
  color: #9cdcfe;
}

.custom-blue {
  background-color: #9cdcfe;
}

footer {
  overflow: auto;
}

.thumbnail {
  transition: box-shadow 0.2s ease;
  box-shadow: none;
}

.thumbnail:hover {
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.gh-repo {
  transition: text-decoration 0.2s ease-out;
  text-decoration: underline rgba(255, 255, 255, 0);
}

.gh-repo:hover {
  text-decoration: underline #039be5;
  
}

.social-tags {
  transition: color 0.2s ease-out;
  color: white;
}

.social-tags:hover {
  color: #e0e0e0;
}