body {
	text-align: center;
	font-size: 18px;
	font-family: 'Titillium Web', sans-serif;
	background-color: #BAFEFD;
}

main {
	display: inline-block;
	width: 740px;
	border-width: 4px;
	border-style: solid;
	border-color: white;
	border-radius: 25px;
	padding: 15px 70px;
}

.carousel-inner {
	margin-left: auto;
	margin-right: auto;
}

#carouselExampleIndicators {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

#dream {
	color: black;
}